# TextToVec 服务地址
TEXTTOVEC_BASE_URL=http://localhost:8099
TEXTTOVEC_DIMENSION=128

# ES 配置
ES_URL=http://localhost:9200
ES_USERNAME=
ES_PASSWORD=
ES_VERIFY_CERTS=true
ES_INDEX_PREFIX=vec_

# 日志目录（支持相对路径和绝对路径）
LOG_DIR=logs
